<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" type="/image/png" href="/images/hybridcloud.png">
    <link rel="stylesheet" href="/css/home.css">

    <!-- Darmode widget -->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
      function addDarkmodeWidget() {
        new Darkmode().showWidget();
      }
      window.addEventListener('load', addDarkmodeWidget);
    </script>
    
    <style>
        p {
            padding-top: 1em;
        }
    </style>
    <title>Quote of the Day Author Bio</title>

    <% if( typeof INSTANA_HEADER != 'undefined' && INSTANA_HEADER != null ) { %>
        <%- INSTANA_HEADER %>
        <script>
            ineum('page',"<%=pageid%>")
            ineum('meta', "appVersion", "<%=localSession.appVersion%>")
            ineum('meta', "buildInfo", "<%=localSession.buildInfo%>")
            ineum('meta', "appName", "<%=localSession.appName%>")
            ineum('meta', "requestToken", "<%=localSession.token%>" )
            ineum('user', "<%=localSession.user.userId%>", "<%=localSession.user.userName%>", "<%=localSession.user.email%>" )
        </script>
    
    <% } %>

</head>

<body>

    <main role="main">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a id="linkHome" href="/"><button class="btn btn-outline-dark float-left">Home</button></a>
                </div>
            </div>

            <div class="row" style="padding-top: 2em;">
                <% if( !hideImage ) {  %>
                    <div class="col-md-3">
                        <img id="author_image" src="/images/<%=data.author_id%>" class="img-fluid">
                    </div>
                <% } %>
                <div id="divBio" class="col-md-9">
                    <%- data.bio %>
                </div>
            </div>

            <div class="row" style="padding-top: 5em;">
                <div class="col-12">
                    <a href="https://www.wikipedia.org/" class="text-muted">Information and images graciously scraped
                        from Wikipeadia</a>
                </div>
            </div>

        </div>

        <% if( typeof branding != 'undefined'  && branding != null ) { %>
            <div class="container">
                <hr/>
                <p><%-branding%></p>
            </div>
        <% } %>

    </main>


</body>

</html>